
p{
    font-size:50px;
    display:inline;
    font-family: Arial, Helvetica, sans-serif;

}

p:nth-of-type(1){
    color:rgb(65, 133, 244)

}
p:nth-of-type(2){
    color: rgb(255,0, 0)

}
p:nth-of-type(3){
    color:orange;

}
p:nth-of-type(4){
    color:rgb(65, 133, 244)

}
p:nth-of-type(5){
    color:green;

}
p:nth-of-type(6){
    color:red;

}



div:nth-child(2){
    text-align: center
}

a{
    font-size:14px;
    display:inline;
    color: black;
    text-decoration:none;
    text-emphasis: none;

}

a:nth-child(3){
    margin-left: 84%;

}

div:nth-child(3){
    text-align:center;

}


ul{
    text-align:center;

}

li{
    display:inline;
    border: 1px outset;
    background-color: white;
    font-size:14px;
    padding: 5px 5px 5px 5px;
    text-align:center;
}

a:nth-child(6){
    border:1px solid;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px 3px 5px;

}

a:hover{
    text-decoration: underline;

}

input{
    width:25%;
    border-radius:10px;
    padding:5px 0px 5px 0px;
    margin-top:20px;
    
}

img{
    max-width:12px;
    max-height:12px;
}
img:hover{
    cursor:grabbing;
    color:black
}

li:hover{
cursor:grabbing;
}

input:hover{

}